body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #ffe6f0; /* soft pink */
  margin: 0;
}

header {
  background-color: #ff66a3;
  color: white;
  padding: 25px;
  font-size: 28px;
}

section {
  padding: 30px;
}

section p {
  font-size: 18px;
  line-height: 1.6;
}

img {
  border-radius: 15px;
  margin: 15px;
}

footer {
  background-color: #ff66a3;
  color: white;
  padding: 15px;
  font-weight: bold;
}